<div class="experiences-container">
  <div class="experiences-header text-center mb-6">
    <h2 class="experiences-title text-4xl font-bold text-color mb-3">Expérience Professionnelle</h2>
    <div class="title-divider w-16 h-1 bg-primary mx-auto border-round"></div>
  </div>

  <p-timeline [value]="experiences" class="custom-timeline" layout="vertical" [align]="timelineAlign">
    <ng-template pTemplate="marker" let-experience>
      <div class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm bg-primary">
        <i class="pi pi-briefcase text-lg"></i>
      </div>
    </ng-template>

    <ng-template pTemplate="content" let-experience let-i="index">
      <div class="experience-wrapper mb-4">
        <p-card [header]="experience.title"
          [subheader]="(experience.startDate | date:'MMM yyyy':'':'fr') + ' - ' + (experience.endDate ? (experience.endDate | date:'MMM yyyy':'':'fr') : 'Aujourd\'hui')"
          class="experience-card shadow-4 border-round-lg surface-card w-full">

          <div *ngIf="experience.business" class="company-section mb-3">
            <a *ngIf="experience.businessWebsite; else companyNameOnly"
               [href]="experience.businessWebsite"
               target="_blank"
               class="company-link text-primary font-semibold text-lg no-underline hover:underline">
              <i class="pi pi-building mr-2"></i>
              {{experience.business}}
              <i class="pi pi-external-link ml-1 text-sm"></i>
            </a>
            <ng-template #companyNameOnly>
              <span class="company-name text-color font-semibold text-lg">
                <i class="pi pi-building mr-2"></i>
                {{experience.business}}
              </span>
            </ng-template>
          </div>

          <div class="descriptions-list">
            <ul class="m-0 pl-3" style="list-style-type: disc; list-style-position: inside;">
              <li *ngFor="let description of experience.descriptions"
                class="description-item mb-2">
                <span class="description-text text-color line-height-3 m-0 text-left">{{description}}</span>
              </li>
            </ul>
          </div>

          <div *ngIf="experience.technologies && experience.technologies.length > 0"
            class="technologies-section mt-3 pt-3 border-top-1 surface-border">
            <h4
              class="technologies-title text-sm font-semibold text-color-secondary mb-2 flex align-items-center justify-content-start">
              <i class="pi pi-cog mr-2"></i>
              Technologies utilisées
            </h4>
            <div class="technologies-list flex flex-wrap gap-2 justify-content-start">
              <span *ngFor="let tech of experience.technologies"
                class="technology-tag px-3 py-1 bg-primary-100 text-primary-800 text-sm font-medium border-round-3xl">
                {{tech}}
              </span>
            </div>
          </div>
        </p-card>
      </div>
    </ng-template>
  </p-timeline>
</div>
